@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0A0A0A;
  --primary: #FF4D22;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Utilities */
.mask-linear-fade {
    mask-image: linear-gradient(to right, black 80%, transparent 100%);
}
